html, body{
    background-color: #1f1e1d;
    margin: 10px;
}

p{
    color: white;
}


.container div:nth-child(1n){
    background-color: #96ceb4;
}

.container div:nth-child(3n){
    background-color: #88d8b0;
}

.container div:nth-child(2n){
    background-color: #ff6f69;
}

.container div:nth-child(4n){
    background-color: #ffcc5c;
}

.container{
    text-align: center;
    font-size: 2em;
    color: #ffeead;   
    display: grid; 
    grid-template-columns: 100px auto 100px; 
    grid-template-rows: 150px 150px;
}

.container1{
    column-gap: 10px;
    row-gap: 10px;
}

.container2{
    gap: 15px;
}